<div *ngIf="image" (keydown.arrowLeft)="previousPhoto()" (keydown.arrowRight)="nextPhoto()" class="modal fade" id={{id}} tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div *ngIf="!isRefreshPage else loading" class="modal-content">
        <div class="modal-header">
          <div class="modal-title d-inline-flex"><img class="mr-2" [src]="image.user.profile_image.small" alt="profile image">
            <div>
              <span class="h6">{{image.user.name}} </span>
              <p><small class="text-muted q float-left">@{{image.user.username}}</small></p>
            </div>
          </div>
          <div>
          <button type="button" class="btn btn-outline-secondary btn-sm mr-2 ">
            <fa-icon  [icon]="faHeartIcon"></fa-icon>
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm">
            <fa-icon [icon]="faAddIcon"></fa-icon>
          </button>
          </div>
        </div>
        <div class="modal-body text-center">
          <img class="img-fluid h-100" [alt]="image.alt_description" [src]="image.urls.full">
        </div>
        <div class="modal-footer">
          <div class="mr-auto">
            <fa-icon *ngIf="image?.location?.name" class="mr-1" style="color: lightgray" [icon]="faMapMarkerAltIcon"></fa-icon>
            <span class="h6 ml-1">{{image?.location?.name}} <span *ngIf="image?.location?.name">-</span> {{image.created_at | date: 'MMMM YYYY'}}</span>
          </div>
          <button type="button" class="btn btn-outline-secondary btn-sm">
            <fa-icon class="mr-1" [icon]="faShareIcon"></fa-icon>Share
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm">
            <fa-icon class="mr-1" [icon]="faInfoIcon"></fa-icon>Info
          </button>
        </div>
      </div>
  </div>
  <button [disabled]="isDisabledButton[0]" (click)="nextPhoto()" class="right-arrow btn btn-outline-light border-0">
    <fa-icon [icon]="faChevronRightIcon"></fa-icon>
  </button>
  <button [disabled]="isDisabledButton[1]" (click)="previousPhoto()" class="left-arrow btn btn-outline-light border-0">
  <fa-icon [icon]="faChevronLeftIcon"></fa-icon>
  </button>
</div>

<ng-template #loading>
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title d-inline-flex">
          <div class="spinner-border" role="status">
            <span class="sr-only ">Loading...</span>
          </div>
      </div>
      <div>
        <button type="button" class="btn btn-outline-secondary btn-sm mr-2 ">
          <div class="spinner-border" role="status">
            <span class="sr-only ">Loading...</span>
          </div>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm">
          <div class="spinner-border" role="status">
            <span class="sr-only ">Loading...</span>
          </div>
        </button>
      </div>
    </div>
    <div class="modal-body text-center q">
      <div class="spinner-border spinner-image mt-lg-5" role="status">
        <span class="sr-only ">Loading...</span>
      </div>
    </div>
    <div class="modal-footer">
      <div class="mr-auto">
        <div class="spinner-border" role="status">
          <span class="sr-only ">Loading...</span>
        </div>
      </div>
      <button type="button" class="btn btn-outline-secondary btn-sm">
        <div class="spinner-border" role="status">
          <span class="sr-only ">Loading...</span>
        </div>
      </button>
      <button type="button" class="btn btn-outline-secondary btn-sm">
        <div class="spinner-border" role="status">
          <span class="sr-only ">Loading...</span>
        </div>
      </button>
    </div>
  </div>

</ng-template>
