.search-container {
  width: 60vw;
  margin: 0 auto;
}

.hint-container {
  width: 82.5vw;
  margin: 0 auto;
}
.scroll-hint-container {
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-hint-container::-webkit-scrollbar {
  display: none;
}

.btn-hint {
  min-width: 120px;
  height: auto;
  font-weight: 400;
  border-color: lightgrey;
}
.image-container {
  height:65vh;
  width: 85%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 0 auto;
}

.image-container::-webkit-scrollbar {
  display: none;
}

.image-content {
  height: auto;
}

.btn-tag {
  border: none;
}

.masonry { /* Masonry container */
  -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}
.item-masonry {
  margin: 0 0 1.5em;
}
.item-masonry img{
  max-width:100%;
  height: auto;
}

@media only screen and (max-width: 320px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

.cursor-pointer {
  cursor: pointer;
}
.spinner-hint {
  width: 1rem;
  height: 1rem;
}
.spinner-image {
  width: 10rem;
  height: 10rem;
}

